 /* App Rendering
 .wrapper
 .card
 .taskTracking
 .form
 */
:root {
    --c8: #191528;
    --c7: #201647;
    --c6: #0f0c1d;
    --c5: #3a2c70b1;
    --c4: #5643a2;
    --c3: #6957b8;
    --c2: #8573d3;
    --c1: #a69bdf;
    --c0: #cac0f5;  
}


body {
    background-color: var(--c3);
    color: var(--c0);
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: var(--c4);
    border: 2px solid;
    border-radius: 6px;
    border-color: var(--c5);
    padding: 5px;
    margin: 3px;
    color: var(--c1);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
 
button:hover {
    background-color: var(--c5);
    border-color: var(--c5);
}

h1 {
    font-size: 75px;
    display: block;
    padding: 10px;
    text-align: center;

    column-span: all;
}


.wrapper {
    background-color: var(--c5);

    column-count: 3;
    column-gap: 5px;

    width: inherit;
    margin: 25px;
 
    border: solid;
    border-color: var(--c4);
    border-radius: 15px;
    border-width: 6px;
}


.form input[type='text'] {
    display:grid;
    column-span: 1;
    padding: 6px 8px;
    background-color: var(--c2);
    border: 3px solid var(--c3);
    border-radius: 5px;

    color: #e0c1fb;
    font-family: 'Courier New', Courier, monospace;
    font-size:25px;  
}

.taskList {
    column-span: all;
}


/* Form Rendering */

.newTask {
    background-color: aqua;
}

.dropDown {
    background-color: fuchsia;
}

.form {
    background-color: navajowhite;
}

.task {
    background-color: rgb(226, 190, 49);
}

/* TaskList Rendering*/

/* Item Rendering*/

.taskItemsRight{
    background-color: pink;
}
.taskItemsleft{
    background-color: rgb(118, 16, 33);
}

.taskItem {
    background-color: red;
    accent-color: var(--c1);
}

.editForm {
    background-color: black;
}

.deleteButton {
    background-color: seagreen;
}

/* TaskTracking Rendering*/
.taskStats {
    background-color: rgb(208, 58, 103);
    display: grid;   
}
.taskStats p {
    background-color: brown;
}

 /* Card Rendering*/
 .card {
    object-fit: contain;
    background-color: var(--c2);
    border: 3px solid var(--c3);
    border-radius: 3px;
 }

 .card p {
    background-color: green;
 }

 .card h2 {
    background-color: teal;
 }

 .card img {
    background-color: yellow;
 }

